@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Butler';
    src: url('./assets/fonts/Butler_Ultra_Light.otf');
}
@font-face {
    font-family: 'Butler-regular';
    src: url(./assets/fonts/Butler_Regular.otf);
}